body{
    display:flex;
}

.side-title{
    height:100vh;
    width:30%;
    background-image: url(../img/background.avif);
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    
}

.icon{
    width:100%;
    height:400px;
    display:flex;
    flex-direction: column;
    position:relative;
    text-align:center;
    background-color:rgb(0, 0, 0, 0.5);
    
}

img:first-child{
    height:100%;
}


.icon p{

    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    font-size: 32px;
    color:#ffffff;
    font-weight:bold;

}

.main-content{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
}

.description{
    height:45%;
    background-color:rgb(220, 220, 220);
    font-size:40px;
    padding:0 80px;
}

.description>p{
    margin-top: 70px;
}

.description span{
    font-style: italic;
}

.form-style{
    height:45%;
}

footer{

}