*{
    font-family: 'Kanit', sans-serif;
}
body{
    display:flex;
}

.side-title{
    height:100vh;
    width:30%;
    background-image: url(../img/background.avif);
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    
}

.icon{
    width:100%;
    height:400px;
    display:flex;
    flex-direction: column;
    position:relative;
    text-align:center;
    background-color:rgb(0, 0, 0, 0.5);
    
}

img:first-child{
    height:100%;
}


.icon p{

    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    font-size: 32px;
    color:#ffffff;
    font-weight:bold;

}

.main-content{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
}

.description{
    height:40%;
    background-color:rgb(220, 220, 220);
    font-size:25px;
    padding:0 80px;
}

.description>p{
    margin-top: 30px;
}

.description span{
    font-style: italic;
    margin-bottom:0;
}

.form-style{
    height:45%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
    
}

form h1{
    grid-column:1 /span 3;
    font-size: 20px;
    
}

.full-name,
.form-password,
.form-contact,
button{
    display:flex;
    justify-content: space-evenly;
    grid-column:1/span 3;
    margin-top:10px;
    
}

.input-item{
    display:flex;
    flex-direction:column;
    text-align:left;
}

input{
    border: 1px solid gray;
    border-radius: 5px;
    padding:10px;
    box-shadow:1px 1px grey;
    
}

input:focus{
    border:1px solid green;
}

input:valid{
    border-color:green;
}

input:invalid{
    border-color:red;
}

button{
    display:flex;
    align-items:center;
    width: 200px;
    height:50px;
    border-radius:5px;
    margin: 20px auto 20px auto;
    border: 2px solid green;
    background-color: rgb(200,200,200);
}

button:active{
    position:relative;
    top:1px;
    background-color: rgb(230,230,230);
}

footer{
flex:1;
height:5%;
background-color:rgb(220, 220, 220);
margin-top:40px;
text-align:center;
}